@model IEnumerable<ArtGallery.Models.Views.ArtView>

@{
    ViewBag.Title = "GetArtList";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6" style="margin-top:10px">
            <div class="box wow fadeInLeft">
                <!--<div class="icon"><i class="fa fa-bar-chart"></i></div>-->
                <img src="@Url.Content(item.FilePath)" style="width:400px;height:200px;float:left;padding-right:20px" />
                <div style="">
                    <h4 class="title"><a href="" style="font-size:30px;color:dodgerblue">@item.NameA</a></h4>
                    <p class="description" style="font-size:15px">
                        Artist: @item.NameU<br />
                        Price: @item.PriceA
                    </p>
                    <button class="likebtn btn btn-primary" type="button" style="width:auto;height:auto" value="@item.IDA">@item.Likebtn</button>
                    <button class="addtocart btn btn-primary" type="button" style="width:auto;height:auto" value="@item.IDA">@item.Cartbtn</button>
                    <button class="buynow btn btn-primary" type="button" style="width:auto;height:auto" value="@item.IDA">Buy Now</button>
                </div>
            </div>
        </div>
    }


</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.likebtn').click(function () {
            var ida = $(this).val();
            var mytarget = $(this);
            if ($(this).text().toString() == "Like") {
                $.ajax({
                    url: '@Url.Action("LikeArt","Home")',
                    type: 'POST',
                    data: 'ida=' + ida,
                    success: function (data) {
                        // data is your result from controller
                        if (data.success) {
                            //alert(data.message);
                            $(mytarget).html("Unlike");
                        } else
                        {
                        alert("Please login!");
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
                return false;
            } else {
                $.ajax({
                    url: '@Url.Action("UnlikeArt","Home")',
                    type: 'POST',
                    data: 'ida=' + ida,
                    success: function (data) {
                        // data is your result from controller
                        if (data.success) {
                            //alert(data.message);
                            $(mytarget).html("Like");
                        } else {
                            alert("Please login!");
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
                return false;
            };
        });

        $('.addtocart').click(function () {
            var ida = $(this).val();
            var mytarget = $(this);
            if ($(this).text().toString() == "Add to cart") {
                $.ajax({
                    url: '@Url.Action("AddToCart","Home")',
                    type: 'POST',
                    data: 'ida=' + ida,
                    success: function (data) {
                        // data is your result from controller
                        if (data.success) {
                            //alert(data.message);
                            $(mytarget).html("Already in cart");
                        } else
                        {
                        alert("Please login!");
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
                return false;
            } else {
                alert("This art is already in your cart!");
            };
        });
    });

</script>