@model ArtGallery.Models.Views.CategoryView

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditCategory</h2>

@using (Html.BeginForm("EditCategoryDB", "Admin", new { id = Model.IDC }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UsertypeView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDC)

        <div class="form-group">
            @Html.LabelFor(model => model.NameC,"Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameC, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                @Html.ValidationMessageFor(model => model.NameC, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetCategoryList")
</div>
