@model IEnumerable<ArtGallery.Models.Views.UserView>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--Disable 2 line below if css non-working right-->
<!--<link rel="stylesheet" type="text/css" href="https ://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />-->

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewUsers")
</p>
<table id="dataTable" class="table table-striped table-bordered" style="width:100%!important">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Status
            </th>
            <th>
                Usertype
            </th>
            <th>Arts</th>
            <th>Detail & Edit</th>
            <th>Change status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.IDU)
                <td>
                    @Html.DisplayFor(modelItem => item.FirstnameU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastnameU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usertype)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" style="width:auto;height:auto" onclick="location.href='@Url.Action("GetAllArtByID","Admin",new { id=item.IDU})'">Arts</button>
                </td>
                <td>
                    <!--Html.ActionLink("Edit", "EditUser", new { id = item.IDU })-->
                    <button type="button" class="btn btn-primary" style="width:auto;height:auto" onclick="location.href='@Url.Action("EditUser","Admin",new { id=item.IDU})'">Edit</button>
                </td>
                <td>
                    <!--Html.ActionLink(item.Statusbtn, "ChangeStatusUserDB", new { id = item.IDU },new {class="changestatus" })-->
                    <button type="button" class="changestatus btn btn-primary" value="@item.IDU" style="width:auto;height:auto" >@item.Statusbtn</button>
                </td>
                <td>
                    <!--Html.ActionLink("Delete", "DeleteUserDB", new { id = item.IDU })-->
                    <button type="button" class="deleteuser btn btn-primary" value="@item.IDU" style="width:auto;height:auto">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.changestatus').click(function () {
            var id = $(this).val();
            var mytarget = $(this);
            if ($(this).text().toString() == "Lock") {
                $.ajax({
                    url: '@Url.Action("LockUser","Admin")',
                    type: 'POST',
                    data: 'id=' + id,
                    success: function () {
                        alert("Lock success!");
                        $(mytarget).html("Unlock"); //not working here
                    }
                });
                return false;
            } else {
                $.ajax({
                    url: '@Url.Action("UnlockUser","Admin")',
                    type: 'POST',
                    data: 'id=' + id,
                    success: function () {
                        alert("Unlock success!");
                        $(mytarget).html("Lock"); //not working here
                    }
                });
                return false;
            };
        });

        $('.deleteuser').click(function () {
            var id = $(this).val();
            var row = $(this).closest("tr");
            $.ajax({
                    url: '@Url.Action("DeleteUser","Admin")',
                    type: 'POST',
                    data: 'id=' + id,
                success: function () {
                    row.remove();
                    alert("Delete success!");
                    }
                });
        });
    });


    jQuery(document).ready(function ($) {
        $('#dataTable').DataTable();
    });


</script>
